@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

  
    
}
/* Importando a fonte Gyosho */
@font-face {
    font-family: 'Gyosho';
    src: url('https: //edenilton2023.github.io/shoya/fonts/Gyosho.ttf') format('ttf'),
    /* Certifique-se de que o caminho está correto */

url('https: //edenilton2023.github.io/shoya/fonts/Gyosho.ttf') format('truetype');


    font-weight: normal;


    font-style: normal;

}